.Hero_Footer {

    .footer_2 {
        height: auto;
        margin-bottom: 2.5rem;

        .footer_2_img {
            img {
                margin: 1.25rem auto;
                display: block;
            }
        }


        .footer_2_text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;


            .ftr_2_joze1 {
                display: flex;
                flex-direction: column;
                align-items: center;


                button {
                    @include head-foot-btn(black);

                    img {
                        margin-left: 1.25rem;
                    }


                }

                a {
                    text-decoration: none;
                    margin-left: 4.375rem;
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: #1078AD;
                    margin-top: 1.56rem;

                    @include responsive(tablet) {
                        margin-top: 0.9rem;

                    }



                }

            }

            .ftr_2_joze2 {
                h1 {
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: #1078AD;
                }

                .num {
                    color: #369D53;
                }

                p {
                    font-size: 1.18rem;
                    font-weight: bold;
                    color: #2B2B2C;
                }
            }

            .ftr_2_joze3 {
                font-size: 1.12rem;
                font-weight: normal;
                color: #7F7F7F;


                @include responsive(tablet) {
                    font-size: 1.5rem;

                }

                @include responsive(phone) {
                    font-size: 2.7rem;
                    text-align: center;

                }
            }
        }

    }


}

.line {
    height: 2rem;
    border-top-right-radius: 0.44rem;
    border-top-left-radius: 0.44rem;
    background-color: #1078AD;
    z-index: 10;
}