@import '_media-querry';
@import 'mixin';
@import 'header';
@import 'footer';



.processus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    margin: 40px auto;
    text-align: center;



    .info {
        div {
            width: 15px;
            height: 15px;
            background-color: #1078AD;
            border-radius: 50%;
            margin: 0 auto;

        }

        h4 {
            font-size: 1rem;
            text-align: center;
        }
    }

    .quest {
        div {
            width: 15px;
            height: 15px;
            background-color: #1078AD;
            border-radius: 50%;
            margin: 0 auto;

        }

        h4 {
            font-size: 1rem;
            text-align: center;
        }
    }

    .result {
        div {
            width: 15px;
            height: 15px;
            background-color: #1078AD;
            border-radius: 50%;
            margin: 0 auto;

        }

        h4 {
            font-size: 1rem;
            text-align: center;
        }
    }
}

.preambule {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 70%;
    background-color: #96C5DC;
    margin: 0px auto;
    border-radius: 5px;

    h1 {
        font-size: 2rem;
        color: #1078AD;
    }

    p {
        font-size: 1.5rem;
        color: black;
        font-weight: 600;
    }

    .line2 {
        height: 3px;
        background-color: #F4CF1B;
        width: 30%;
        margin: 50px auto;
    }
}

.testbtn {
    @include button(#1078AD, white, 30rem, 4rem, 2rem);
    text-decoration: none;
    margin: 50px auto;
    display: block;
    margin-bottom: 80px;

}