@import '_media-querry';
@import 'mixin';
@import 'header';
@import 'footer';



* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cairo', sans-serif;
    font-size: 100%;



    @include responsive(desktop) {
        font-size: 95%;
    }

    @include responsive(big-tablet) {
        font-size: 90%;
    }

    @include responsive(tablet) {
        font-size: 85%;
    }

    @include responsive(phone) {
        font-size: 50%;

    }

}



@keyframes mymove {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes mymove1 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}



.processus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    margin: 40px auto;
    text-align: center;
    position: relative;


    .processus-info {
        .processus-info-cercle1 {
            width: 30px;
            height: 30px;
            background-color: #1078AD;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;

            .span1 {


                width: 15px;
                height: 15px;
                background-color: #F4CF1B;
                border-radius: 50%;
                margin: 0 auto;
                position: absolute;
                top: 27%;
                left: 28%;

            }

        }



        h4 {
            font-size: 1rem;
            text-align: center;
        }
    }

    .processus-quest {

        .processus-quest-cercle1 {
            width: 30px;
            height: 30px;
            background-color: #1078AD;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;

            .span2 {


                width: 15px;
                height: 15px;
                background-color: #F4CF1B;
                border-radius: 50%;
                margin: 0 auto;
                position: absolute;
                top: 27%;
                left: 25%;

                &.hide {
                    display: none;
                }

            }

        }


        h4 {
            font-size: 1rem;
            text-align: center;
        }
    }

    .processus-result {
        .processus-result-cercle1 {
            width: 30px;
            height: 30px;
            background-color: #1078AD;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;

            .span3 {


                width: 15px;
                height: 15px;
                background-color: #F4CF1B;
                border-radius: 50%;
                margin: 0 auto;
                position: absolute;
                top: 27%;
                left: 28%;

                &.hide {
                    display: none;
                }

            }

        }


        h4 {
            font-size: 1rem;
            text-align: center;
        }
    }
}


#Progress_Status {
    width: 50%;
    background-color: #ddd;


    #myprogressBar {
        width: 1%;
        height: 35px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 32px;
        color: black;
    }
}





#preambule {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 70%;
    background-color: #96C5DC;
    margin: 0px auto;
    border-radius: 5px;
    line-height: 1.7;


    h1 {
        font-size: 2rem;
        color: #1078AD;
    }

    p {
        font-size: 1.5rem;
        color: black;
        font-weight: 600;
    }

    .line2 {
        height: 3px;
        background-color: #F4CF1B;
        width: 30%;
        margin: 50px auto;
    }

    #testbtn {
        @include button(#1078AD, white, 30rem, 4rem, 2rem);
        text-decoration: none;
        margin: 50px auto;

        margin-bottom: 5rem;
        line-height: 1.8;

        @include responsive(phone) {
            width: auto;

        }

    }

    &.hide {
        display: block;
    }

}



#form {
    width: 70%;
    height: auto;
    margin: 0 auto;
    height: auto;

    // @include responsive(phone) {
    //     height: 400px;

    // }






    #form_question {
        text-align: center;
        font-size: 2.5rem;
        line-height: 1.5;
        color: #787878;

        @include responsive(phone) {
            font-size: 4rem;

        }

    }

    .answer {
        height: 290px;
        margin: 0 auto;
        position: relative;

        #answers {
            display: block;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include responsive(phone) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

            }


            input[type=number] {
                width: 350px;
                height: 40px;
                font-size: 24px;
                font-weight: 500;
                border: 2px solid #1078AD;
                border-radius: 5px;
                color: #1078AD;

            }



            label {
                position: relative;
                padding-left: 30px;
                font-size: 24px;
                font-weight: 600;
                color: grey;
                width: 160px;

                input[type=radio] {
                    display: none;

                }

                span {

                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    border: 3px solid #1078AD;
                    display: block;
                    position: absolute;
                    top: 7px;
                    left: 0px;

                }

                span:after {

                    content: "";
                    height: 15px;
                    width: 15px;
                    background-color: #F4CF1B;
                    display: block;
                    position: absolute;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    transition: 300ms ease-in-out 0s;

                }

                input[type=radio]:checked~span:after {
                    transform: translate(-50%, -50%) scale(1);
                }

            }
        }
    }

    &.hide {
        display: none;
    }


}






#resultat {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 70%;
    background-color: #96C5DC;
    margin: 0px auto;
    border-radius: 5px;


    h1 {
        font-size: 2rem;
        color: #1078AD;
    }

    p {
        font-size: 1.5rem;
        color: black;
        font-weight: 600;
    }

    .line2 {
        height: 3px;
        background-color: #F4CF1B;
        width: 30%;
        margin: 50px auto;
    }

    a {
        @include button(#1078AD, white, 30rem, 4rem, 2rem);
        text-decoration: none;
        margin: 50px auto;
        display: block;
        margin-bottom: 80px;
        line-height: 1.8;

    }

    &.hide {
        display: none;
    }

}




.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 0 auto;

    #next {

        @include button(#1078AD, white, 19rem, 5.25rem, 2rem);

        @include responsive(tablet) {
            @include button(#1078AD, white, 15rem, 4rem, 1.6rem);
        }


    }

    #back {
        @include button(#1078AD, white, 19rem, 5.25rem, 2rem);

        @include responsive(tablet) {
            @include button(#1078AD, white, 15rem, 4rem, 1.6rem);
        }


    }

    #submit {
        @include button(#1078AD, white, 19rem, 5.25rem, 2rem);

        @include responsive(tablet) {
            @include button(#1078AD, white, 15rem, 4rem, 1.6rem);
        }



    }





}


.Recommandations {
    background-color: #1078AD;
    width: 100%;
    height: auto;
    margin-top: 50px;


    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 2.1rem;
        color: #D0E5F0;

        @include responsive(big-tablet) {
            margin-bottom: 2rem;
        }

        @include responsive(tablet) {
            margin-bottom: 2rem;
        }

        @include responsive(phone) {
            margin-bottom: 2rem;
        }
    }


    .Recommandations_main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-around;
        max-width: 112.12rem;
        margin: 0px auto;


        @include responsive(big-tablet) {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        @include responsive(phone) {
            display: flex;
            flex-direction: column;
            text-align: center;
        }





        .Recommandations_1 {
            margin-left: 1.25rem;
            padding-bottom: 1.25rem;

            p span {
                color: black;
                font-size: 1.8rem;
                font-weight: 600;

                @include responsive(big-tablet) {
                    color: white;
                }

                @include responsive(tablet) {
                    color: white;
                }

                @include responsive(phone) {
                    color: white;
                }
            }

            p {
                color: white;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 2;
            }

        }

        .Recommandations_2 {
            margin-right: 5.81rem;
            margin-bottom: 3.12rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include responsive(big-tablet) {
                margin-top: 2rem;
                margin-right: 0rem;
            }

            @include responsive(tablet) {
                margin-top: 2rem;
                margin-right: 0rem;
            }

            @include responsive(phone) {
                margin-top: 2rem;
                margin-right: 0rem;

            }



            .apl {

                font-size: 1.9rem;
                font-weight: bold;
                color: rgb(240, 203, 41);
                margin-bottom: 2.75rem;

                @include responsive(big-tablet) {
                    margin-bottom: 0.75rem;
                }


                @include responsive(tablet) {
                    margin-bottom: 0.75rem;
                }

                @include responsive(phone) {
                    margin-bottom: 0.75rem;

                }
            }

            button {
                font-family: Arial;
                @include button(rgb(240, 203, 41), #1078AD, 15rem, 4.8rem, 1.8rem);
                margin-bottom: 2.75rem;

                @include responsive(big-tablet) {
                    margin-bottom: 0.75rem;
                }

                @include responsive(tablet) {
                    margin-bottom: 0.75rem;
                }

                @include responsive(phone) {
                    margin-bottom: 0.75rem;
                }

            }

            .govsite {
                font-family: Arial;
                font-size: 1.6rem;
                font-weight: normal;
                color: white;
                border-bottom: 0.125rem solid rgb(240, 203, 41);
            }

        }

    }


}